.card {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  text-align: center;

  div {
    border-radius: 20px 20px 0px 0px;
    display: block;
    width: 100%;
    max-width: 390px;
    background-color: rgba(240, 240, 240, 0.68);
    position: relative;
    margin: 0 auto;
    padding: 15px 20px 20px 20px;
    text-align: right;

    a {
      color: red;
      margin-right: 10px;
      text-decoration: none;

      &.icon {
        padding: 0;
        float: left;
        width: 23px;
        height: 23px;
        display: block;
        background-size: cover;
        margin-right: 10px;
      }
    }
    span.spacer {
      float: right;
      display: none;
      width: 30px;
      height: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    div {
      background-color: rgba(70, 70, 70, 0.68);
    }
  }
}
@media screen and (max-width: 390px) {
  .card {
    div {
      border-radius: 0;
      max-width: 100% !important;
      span.spacer {
        display: block !important;
      }
    }
  }
}
