.card {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  h1 {
    color: #343434;
  }
  div {
    border-radius: 20px 20px 0px 0px;
    display: block;
    width: 90%;
    max-width: 420px;
    background-color: rgba(240, 240, 240, 0.68);
    position: relative;
    margin: 0 auto;
    padding: 15px 10px 20px 10px;
    text-align: center;
    box-shadow: 7px 10px 5px -4px rgba(0, 0, 0, 0.26);
  }
  a {
    color: red;
    padding-right: 10px;
    float: right;
    &.icon {
      padding: 0;
      float: left;
      width: 23px;
      height: 23px;
      display: block;
      background-size: cover;
      margin-right: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    div {
      background-color: rgba(70, 70, 70, 0.68);
    }
  }
}
@media screen and (max-width: 420px) {
  .card {
    div {
      border-radius: 0;
      width: 100%;
    }
  }
}
