html {
  background-color: black;
  overflow-x: hidden;
  font: normal normal normal 14px/16px 'Helvetica Neue', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

noscript {
  padding: 20px;
}

html,
body {
  color: #232323;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    to(#c8c8c8)
  );
}
body::before {
  content: '';
  position: fixed;
  right: 0;
  left: 0;
  bottom: 50%;
  top: -50%;
  z-index: -1;
  background: white;
}
body::after {
  content: '';
  position: fixed;
  top: 50%;
  bottom: -50%;
  right: 0;
  left: 0;
  z-index: -1;
  background: #c8c8c8;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    color: #e3e3e3;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(black),
      to(#565656)
    ) !important;
  }
  body::before {
    background: black !important;
  }
  body::after {
    background: #565656 !important;
  }

  a {
    color: red;
  }
}
