html {
  background-color: black;
  overflow-x: hidden;
  //   background: white;

  font: normal normal normal 14px/16px 'Helvetica Neue', Arial, sans-serif;
  //   background: linear-gradient(to bottom, white, #c8c8c8);
  //   padding: 0;
  //   height: 100vh;
  //   margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(black),
      to(#565656)
    );
  }
  body {
    color: #d0d0d0;
  }
  a {
    color: red;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(white),
      to(#c8c8c8)
    );
  }
  body {
    color: #343434;
  }
  a {
    color: red;
  }
}
